* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 12px;
  background: var(--primary-color);
}

.btn:hover {
  opacity: 0.8;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  line-clamp: var(--line-clamp, 2); /* chuẩn */
  -webkit-line-clamp: var(--line-clamp, 2); /* hỗ trợ trình duyệt */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ========= Header ========== */
.header {
  position: relative;
  width: 100%;
  height: 736px;
  background: #e6f0ff;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  padding: 8px 1.4rem;
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar ul a:hover {
  text-decoration: underline;
}
.navbar .action-link {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.4rem;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.01em;
}

.hero .title {
  color: #000336;
  margin-top: 8px;
  font-size: 6.2rem;
  line-height: 1.19;
  font-weight: 700;
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  line-height: 1.78;
  font-weight: 400;
  text-transform: capitalize;
}

.hero-cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* ========= Clients ========== */
.clients {
  margin-top: 80px;
  padding: 43px 0 64px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .desc {
  color: #687690;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 500;
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 96px;
}

/* ========= Guides ========== */
.guides {
  margin-top: 40px;
  padding: 93px 0 80px;
}

.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 600;
}

.guides .sub-title::before {
  position: absolute;
  top: -10px;
  left: 50%;
  display: inline-block;
  width: 41px;
  height: 4px;
  content: "";
  transform: translateX(-50%);
  background: var(--primary-color);
  border-radius: 12px;
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 16px auto 0;
  color: #687690;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.88;
  font-weight: 400;
}

.list-guide {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 24px;
  color: #000339;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 500;
}

.guide-item .link {
  display: inline-block;
  margin-top: 12px;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.guide-item .arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* ========= Featured ========== */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background-color: #f5fafe;
}

.featured .sub-title {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 600;
  color: #000339;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .desc {
  font-weight: 600;
  line-height: 1.88;
  font-size: 1.6rem;
  color: #687690;
}

.featured .link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: #0689ff;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  font-weight: 500;
  line-height: 1.5;
  font-size: 2rem;
  color: #000339;
}

.featured .item .desc {
  --line-clamp: 3;
  margin-top: 11px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.4rem;
  color: #687690;
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

.featured .item .label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  color: #687690;
}

/* ========= Stats ========== */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block {
  position: relative;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  padding: 45px 22px 40px;
  border-radius: 0 0 12px 12px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.stats-trend .value {
  font-weight: 700;
  font-size: 2.6rem;
  letter-spacing: 0.01rem;
  color: #000339;
}

.stats-trend .icon {
  margin-left: auto;
}

.stats-trend .desc {
  margin-top: 8px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #a7a7a7;
}

.stats-trend .separate {
  height: 1.2px;
  margin-top: 25px;
  background: #000;
}

.stats .avatar-block {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 14px;
  margin-top: 26px;
}

.stats .avatar-group {
  display: flex;
}

.stats .avatar {
  width: 16px;
  height: 16px;
  margin-left: -3px;
  object-fit: cover;
  border-radius: 50%;
}

.stats .avatar:first-child {
  margin-left: 0;
}

.stats .img-block .stats-image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  border-radius: 12px;
  object-fit: cover;
}

.stats .sub-title {
  position: relative;
  width: 270px;
  font-weight: 600;
  line-height: 1.3;
  font-size: 3.5rem;
  color: #000339;
}

.stats .sub-title::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: block;
  width: 41px;
  height: 4px;
  content: "";
  background: var(--primary-color);
  border-radius: 12px;
}

.stats .info .desc {
  margin-top: 20px;
  width: 310px;
  font-weight: 400;
  line-height: 1.88;
  font-size: 1.6rem;
  color: #687690;
}

.stats .row-qty {
  justify-content: space-between;
  margin-top: 110px;
  padding: 0 36px;
}

.stats .qty {
  font-weight: 600;
  font-size: 6.4rem;
  color: #000000;
}

.stats .qty-desc {
  margin-top: 24px;
  font-weight: 500;
  font-size: 1.8rem;
  color: #7b8087;
}

/* ========= Subscrption ========== */
.subcription {
  margin-top: 90px;
}

.subcription .body {
  position: relative;
  display: flex;
  align-items: center;
  height: 370px;
  background: #063183;
  border-radius: 20px;
}

.subcription .info {
  width: 671px;
  max-width: 100%;
  padding: 0 80px;
}

.subcription .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.subcription .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  opacity: 0.8;
  color: #fff;
}

.subcription .btn {
  min-width: 151px;
  margin-top: 20px;
  color: #063183;
  background-color: #fff;
}

.subcription .image-sub {
  position: absolute;
  right: 221px;
  bottom: 0;
}

/* ========= Footer ========== */
.footer {
  margin-top: 80px;
  padding: 50px 0;
  background-color: #f5fafe;
}
.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .row-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.footer .column {
  width: 20%;
}

.footer .heading {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 1.8rem;
  color: #000339;
}

.footer .list .item {
  margin-bottom: 18px;
}

.footer .list .item a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #687690;
}

.footer .list .item a:hover {
  text-decoration: underline;
}

.footer .social-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 16px;
}

.footer .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #687690;
}

.footer .social-list .social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.footer .social-list .social-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer .logo {
  width: 120px;
  height: 32px;
}

.footer .copyright {
  margin-top: 16px;
  color: #687690;
  font-size: 1.4rem;
}
